<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">Edit property</div>
  <form id="update-form" class="ui form segment" action="/<%= data.id %>?_method=PUT" method="POST">
    <div class="field">
      <label>Owner</label>
      <input type="text" name="owner" value="<%= data.owner %>" required>
    </div>
    <div class="field">
      <label>Address</label>
      <ul>
      <% Object.keys(data.address).forEach(address => { %>
        <% if (address === 'line1' || address === 'line4') { %>
          <label><%= address %></label>
          <li><input type="text" name="<%= address %>" value="<%= data.address[address] %>" required></li>
        <% } else { %> 
          <label><%= address %></label>
          <li><input type="text" name="<%= address %>" value="<%= data.address[address] %>"></li>
        <% } %>
      <% }) %>
      <% if (!data.address.hasOwnProperty('line2')) { %>
        <label>line2</label>
        <li><input type="text" name="line2" value=""></li>
      <% } %>
      <% if (!data.address.hasOwnProperty('line3')) { %>
        <label>line3</label>
        <li><input type="text" name="line3" value=""></li>
      <% } %> 
      </ul>
    </div>
    <div class="field">
      <label>AirbnbId</label>
      <input type="number" name="airbnbId" value="<%= data.airbnbId %>" required>
    </div>
    <div class="field">
      <label>Number of bedrooms</label>
      <input type="number" name="numberOfBedrooms" value="<%= data.numberOfBedrooms %>" required>
    </div>
    <div class="field">
      <label>Number of bathrooms</label>
      <input type="number" name="numberOfBathrooms" value="<%= data.numberOfBathrooms %>" required>
    </div>
    <div class="field">
      <label>Income generated</label>
      <input type="number" name="incomeGenerated" value="<%= data.incomeGenerated %>" required>
    </div>
    <input type="submit" class="ui inverted orange button" value="Update">
  </form>
</div>

<% include partials/footer %>