<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header">Error</div>
  <div class="ui top attached segment">
    <div class="ui divided items error">
      <%= error %>
    </div>
  </div>
</div>

<% include partials/footer %>