<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Available properties</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% data.forEach(property => { %>
            <div class="item">
                <div class="content">
                    <div class="description">
                        Owner: <%= property.owner %><br>
                        AirbnbId: <%= property.airbnbId %><br>
                        <div class="extra">
                            <a class="ui floated inverted green button" href="/<%= property.id %>">
                                Details
                                <i class="right chevron small icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<% include partials/footer %>