<% include partials/header %>

<%if (message) { %>
	<div id="show-message" class="ui text container segment">
		<div>
			<span class="message header">
				<%= message %>
			</span>
		</div>
	</div>
<% } %>

<div class="ui main text container segment">
	<div class="ui huge header">Add new property</div>
		<div class="ui divided items segment">
		<form class="ui form" action="/" method="POST">
			<div class="field">
				<label>Owner</label>
				<input type="text" name="owner" placeholder="owner name" required>
			</div>
			<div class="field">
				<label>Address</label>
					<ul>
						<li><input type="text" name="line1" placeholder="line 1" required></li>
					</ul>
					<ul>
						<li><input type="text" name="line2" placeholder="line 2"></li>
					</ul>
					<ul>
						<li><input type="text" name="line3" placeholder="line 3"></li>
					</ul>
					<ul>
						<li><input type="text" name="line4" placeholder="line 4" required></li>
					</ul>
					<ul>
						<li><input type="text" name="postCode" placeholder="postcode" required></li>
					</ul>
					<ul>
						<li><input type="text" name="city" placeholder="city" required></li>
					</ul>
					<ul>
						<li><input type="text" name="country" placeholder="country" required></li>
					</ul>
			</div>
			<div class="field">
				<label>Airbnb ID</label>
				<input type="number" name="airbnbId" placeholder="ID" required>
			</div>
			<div class="field">
				<label>Number of bedrooms</label>
				<input type="number" name="numberOfBedrooms" placeholder="number of bedrooms" required>
			</div>
			<div class="field">
				<label>Number of bathrooms</label>
				<input type="number" name="numberOfBathrooms" placeholder="number of bathrooms" required>
			</div>
			<div class="field">
				<label>Income generated</label>
				<input type="number" name="incomeGenerated" placeholder="income generated" required>
			</div>
				<input type="submit" class="ui inverted green button" value="Add">
		</form>
	</div>
</div>

<% include partials/footer %>