<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">Property details</div>
		<div class="ui divided items segment">
			<div class="item">
				<div class="content">
						<div class="description">
								Owner: <%= data.owner %><br>
								Address: 
								<% Object.keys(data.address).forEach(address => { %>
									<ul>
										<li><%= address %>: <%= data.address[address] %></li>
									</ul>   
								<% }) %><br>
								AirbnbId: <%= data.airbnbId %><br>
								Number of bedrooms: <%= data.numberOfBedrooms %><br>
								Number of bathrooms: <%= data.numberOfBathrooms %><br>
								Income generated: <%= data.incomeGenerated %><br>
								<div class="extra">
									<a class="ui inverted blue button" href="/<%= data.id %>/versions">Property versions</a>
									<a class="ui inverted orange button" href="/<%= data.id %>/edit">Edit</a>
									<form id="delete" action="/<%= data.id %>?_method=DELETE" method="POST">
										<button class="ui inverted red button">Delete</button>
									</form>
								</div>
						</div>
				</div>
			</div>
	</div>
</div>

<% include partials/footer %>