<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Property versions</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% data.forEach(version => { %>
            <div class="item">
                <div class="content">
                    <div class="description">
                        Owner: <%= version.owner %><br>
                        Address: 
                        <% Object.keys(version.address).forEach(address => { %>
                          <ul>
                            <li><%= address %>: <%= version.address[address] %></li>
                          </ul>   
                        <% }) %><br>
                        AirbnbId: <%= version.airbnbId %><br>
                        Number of bedrooms: <%= version.numberOfBedrooms %><br>
                        Number of bathrooms: <%= version.numberOfBathrooms %><br>
                        Income generated: <%= version.incomeGenerated %><br>
                    </div>
                    <div class="extra">
                      <a class="ui inverted blue button" href="/<%= version.propertyId %>">Back to property</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<% include partials/footer %>