i.icon {
    font-size: 2em;
}

.container.main {
	margin-top: 7em;
}

#delete {
    display: inline;
}

ul {
    list-style: none;
}

.message {
    font-size: 1em;
    color: crimson;
}

#show-message {
    margin-top: 5em;
    text-align: center;
}

.ui.fixed.menu {
    background-color: darkslategray;
}

.ui.items>.item>.content>.description {
    color: darkslategray;
}

.ui.huge.header {
    color: darkslategray;
}

.error {
    font-size: 2em;
    color: crimson;
}