<!DOCTYPE html>
<html>
<head>
    <title>Hostmaker API</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="book icon"></i>Hostmaker API</div>
            <a href="/" class="item">Properties List</a>
            <a href="/new" class="item">Add Property</a>
        </div>
    </div>
